{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="App" />
    <meta name="keywords" content="app, web, application" />
    <title>App</title>
    {% load compress %}
    {% compress css %}
      <link rel="stylesheet"
            type="text/x-scss"
            href="{% static 'main/scss/base.scss' %}" />
    {% endcompress %}
    {% block extra_head %}{% endblock %}
    {% compress js %}
      {% htmx_script %}
    {% endcompress %}
    {% compress js %}
      <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css"
            rel="stylesheet"
            type="text/css" />
    {% endcompress %}
  </head>
  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    <div class="site-container">
      {% block content %}{% endblock %}
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/gsap.min.js"></script>
  </body>
</html>
