{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% block extra_head %}
  {% compress css %}
    <link rel="stylesheet"
          type="text/x-scss"
          href="{% static 'main/scss/index.scss' %}" />
  {% endcompress %}
{% endblock %}
{% block content %}
  {% compress js %}
    <script type="text/javascript" defer src="{% static 'main/js/timer.js' %}"></script>
  {% endcompress %}
  <div class="site-header">
    <h1 class="site-header__title">Orbit!</h1>
    <button class="site-header__login-button">Log In</button>
  </div>
  <div class="site-content">
    <div class="timer">
      <h2 class="timer__title">Timer</h2>
      <div id="timer-display" class="timer__display">
        <div class="row">
          <div id="timer-message" class="timer__message" role="error"></div>
          <button type="button" class="timer__reset-button" id="timer-reset-button">Reset</button>
          <div class="timer-clock">
            <input id="time_minutes"
                   name="minutes"
                   type="number"
                   class="timer__time"
                   maxlength="2"
                   minlength="2"
                   min="00"
                   max="59"
                   onfocus="this.select()"
                   value="00">
            <span>:</span>
            <input id="time_seconds"
                   name="seconds"
                   type="text"
                   disabled
                   class="timer__time"
                   maxlength="2"
                   minlength="2"
                   min="00"
                   max="59"
                   value="00">
          </div>
          <div id="timer-input">
            <input type="text"
                   id="timer-minutes-input"
                   class="timer__time-input"
                   placeholder="ENTER MINUTES">
            <br>
            <button type="button" id="timer-start-button" class="timer__start-button">START</button>
          </div>
          <div id="timer-pause-area">
            <button type="button" id="timer-pause-button" class="timer__pause-button">PAUSE</button>
          </div>
          <div id="timer-resume-area">
            <button type="button" id="timer-resume-button" class="timer__resume-button">PLAY</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
