.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: hsl(161, 100%, 4%);

  &__title {
    color: hsl(0, 0%, 100%);
    // margin: 10px;
  }

  &__login-button {
    background-color: hsl(160, 86%, 22%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: hsl(166, 85%, 16%);
    }
  }
}

// Remove the default spinner controls from number inputs across browsers
/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Standard property (for future compatibility) */
input[type="number"] {
  appearance: textfield;
}

.alert-danger {
  color: hsl(0, 85.71%, 41.18%);
}

#timer-message {
  margin-top: 10px;
  height: 20px;
}

.timer {
  text-align: center;
  margin-top: 50px;

  &__title {
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
  }

  &-clock {
    display: flex;
    flex-direction: row;
    gap: 0;
    font-size: 5rem;
    justify-content: center;
    align-items: center;

    span {
      color: hsl(0, 0%, 100%);
      margin: 0 10px;
    }
  }

  &__time {
    font-size: 5rem;
    text-align: center;
    color: hsl(0, 0%, 100%);
    border: none;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    padding: 0;
    margin: 0;
    width: 100px;
    height: auto;
    box-shadow: none;
    cursor: text;
    font-variant-numeric: tabular-nums; // Ensure digits are monospaced
  }

  &__start-button,
  &__pause-button,
  &__resume-button,
  &__stop-button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(160, 86%, 22%);
    color: hsl(0, 0%, 100%);
    transition: background-color 0.3s ease;
  }

  &-button-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
}

#timer-stop-button {
  background-color: rgb(106, 13, 13);
}
